{% extends 'main/base.html' %}

{% block header %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Регистрация</h1>
    <p class="fs-5 text-body-secondary">Регистрация пользователя</p>
</div>
{% endblock %}

{% block content %}
<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card shadow-md">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Регистрация</h4>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="w-100 btn btn-lg btn-success">Зарегистрировать</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}