{% extends 'main/base.html' %}
{% block header %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Это страничка с блогами</h1>
    <p class="fs-5 text-body-secondary">Напишите свою статью!</p>
</div>
{% endblock %}
{% block content %}

{% include 'main/includes/inc_pagination.html' %}

<div class="row text-center">
    <div class="col-12">
        <p class="fs-5 text-body-secondary">Список статей блога</p>
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">название статьи</th>
                <th scope="col">содержимое</th>
                <th scope="col">дата создания</th>
                <th scope="col">просмотров</th>
                <th scope="col">опубликовано</th>
                <th scope="col">редактирование</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
            <tr>
                <!--                <td>-->
                <!--                    <a class="w-100 btn btn-lg btn-secondary"-->
                <!--                       href="{% url 'main:product' pk=object.pk %}">{{object.name}}</a></td>-->
                <td>
                    <a class="w-100 btn btn-lg btn-outline-secondary"
                       href="{% url 'blog_app:detail' pk=object.pk %}">{{object.title}}</a></td>
                <td>{{ object.text|truncatechars:100 }}</td>
                <td>{{ object.created_at }}</td>
                <td>{{object.view_count}}</td>
                {% if object.is_published %}
                <td>Да</td>
                {% else %}
                <td>Нет</td>
                {% endif %}
                <td><a class="w-100 btn btn-lg btn-outline-success"
                       href="{% url 'blog_app:update' pk=object.pk %}">Изменить</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td><a class="w-100 btn btn-lg btn-outline-warning" href="{% url 'blog_app:create' %}">Добавить новую
                    статью</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
