{% extends 'blog_app/base.html' %}
{% load custom_tags %}
{% block header %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Статья</h1>
    <p class="fs-5 text-body-secondary">Описание статьи</p>
</div>
{% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-1 mb-1 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{object.title}}</h4>
            </div>
            <div class="card-body">
<!--                <p class="card-title pricing-card-title navy_color">Категория: {{ object.category.name }}</small></p>-->
<!--                <p class="card-title pricing-card-title navy_color">Цена: {{ object.price }}</small></p>-->
                <p class="card-title pricing-card-title navy_color">{{ object.text }}</small></p>
            </div>
            <div class="card-body">
                <!--                <img src="/media/{{ product.preview }}" />-->
                <img src="{{ object.preview|mediapath }}"/>
                <!--                <img src="{% mediapath_tag product.preview %}" />-->
            </div>
            <div class="card-footer py-3">
                <p class="card-title pricing-card-title navy_color">создано: {{ object.created_at }}</small></p>
                <p class="card-title pricing-card-title navy_color">просмотров: {{ object.viewed }}</small></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}