<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="en">
<head>
    <script src="{% static 'main/color-modes.js' %}"></script>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
<div class="container py-3 body">
    <header>
        <div class="border-bottom">
            {% include 'main/includes/inc_main_menu.html' %}
        </div>
        {% block header %}
        {% endblock %}
    </header>
    <main>
        <div class="row text-center">
            <div class="col-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
    {% include 'main/includes/inc_footer.html' %}
</div>
</body>
</html>