{% extends 'main/base.html' %}
{% block header %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Добро пожаловать!</h1>
    <p class="fs-5 text-body-secondary">Это стартовая страница проекта!</p>
</div>
{% endblock %}
{% block content %}
<div class="col">
    <div class="row text-center">
        <p class="fs-5 text-body-secondary">Список товаров</p>
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">название товара</th>
                <th scope="col">цена за штуку</th>
                <th scope="col">описание</th>
                <th scope="col">категория</th>
            </tr>
            </thead>
            <tbody>
            {% for item in products %}
            <tr>
                <td><a href="{% url 'main:product' product_id=item.pk %}">{{ item.name }}</a></td>
                <td>{{ item.price }}</td>
                <td>{{ item.description|truncatechars:100 }}</td>
                <td>{{ item.category }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
