{% extends 'main/base.html' %}
{% block header %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Список продуктов</h1>
    <p class="fs-5 text-body-secondary">Это список продуктов из базы</p>
</div>
{% endblock %}

{% block content %}

{% include 'main/includes/inc_pagination.html' %}

<div class="row text-center">
    <div class="col-12">
        <p class="fs-5 text-body-secondary">Список товаров</p>
        <table class="table table-sm table-borderless">
            <thead>
            <tr>
                <th scope="col">Название товара</th>
                <th scope="col">Цена за штуку</th>
                <th scope="col">Описание</th>
                <th scope="col">Категория</th>
                <th scope="col">Изменить</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
            <tr>
                <td class="align-middle">
                    {% if user.is_authenticated and perms.main.view_product %}
                    <a class="w-100 btn btn-lg btn-outline-secondary"
                       href="{% url 'main:product' pk=object.pk %}">{{object.name}}</a>
                    {% else %}
                    {{object.name}}
                    {% endif %}
                </td>
                <td class="align-middle">{{ object.price }}</td>
                <td class="justify-left">{{ object.description|truncatechars:100 }}</td>
                <td class="align-middle">{{ object.category.name }}</td>
                <td class="align-middle">
                    {% if user.is_authenticated and perms.main.change_product %}
                    {% if user == object.created_by or user.is_staff %}
                    <a class="w-100 btn btn-lg btn-outline-success"
                       href="{% url 'main:update' pk=object.pk %}">Изменить</a>
                    {% else %}
                    -
                    {% endif %}
                    {% else %}
                    --
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% if perms.main.add_product %}
            <tr>
                <td><a class="w-100 btn btn-lg btn-outline-warning" href="{% url 'main:create' %}">Добавить новый
                    продукт</a>
                </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
